<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" packages="org.apache.logging.log4j.flume.appender">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %-r4 [%t] %-5p %c - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <Flume name="EventLogger" compress="false">
            <Agent host="localhost" port="10000"/>
                <PatternLayout pattern="%m"/>
        </Flume>
        <RollingFile name="defaultFile"
            filename="/cloudfeeds/repose_internal/app/repose.log"
            filePattern="/cloudfeeds/repose_internal/app/repose.log.%i"
            filePermissions="rw-r--r--">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-4r [%t] %-5p %c %x - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
        <RollingFile name="httpLocal"
            filename="/cloudfeeds/repose_internal/app/http_repose.log"
            filePattern="/cloudfeeds/repose_internal/app/http_repose.log.%i"
            filePermissions="rw-r--r--">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="defaultFile"/>
        </Root>
        <Logger name="com.sun.jersey" level="off"/>
        <Logger name="net.sf.ehcache" level="error"/>
        <Logger name="org.apache.commons.httpclient" level="warn"/>
        <Logger name="org.eclipse.jetty" level="off"/>
        <Logger name="org.openrepose" level="info"/>
        <Logger name="org.rackspace.deproxy" level="info"/>
        <Logger name="org.springframework" level="warn"/>
        <Logger name="intrafilter-logging" level="info"/>
        <Logger name="http" level="info" additivity="false">
            <AppenderRef ref="httpLocal"/>
        </Logger>
        <Logger name="org.openrepose.herp.pre.filter" level="warn"/>
        <Logger name="org.openrepose.herp.post.filter" level="info" additivity="false">
            <AppenderRef ref="EventLogger"/>
        </Logger>
    </Loggers>
</Configuration>
